.hidden {
    display: none;
  }
  
:root {
    --footer-text-color: #f4f4fd;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}

.container {
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/*---------HEADER---------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
 
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list-nav {
    display: none;
}

.header-list {
    display: none;
}

nav .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
}

.header-logo {
    padding: 16px 0;
    display: block;
  }
  

nav .logo .logotext {
    color: #2e2f42;
}

.header .burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    min-width: 24px;
    height: 24px;
    margin-right: 0;

  }
  
  .burger-icon {
    display: block;
    fill: #2f2f37;
  }

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .mobile-menu-container .header-modal-button {
        min-width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: transparent;
        border: 1px solid #2e2f42;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        position: absolute;
        top: 24px;
        right: 24px;
    }

    .header-button-modal-icon {
        fill: #2e2f42;
    }
  .modal-header-list-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .modal-but {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-but-current {
    color: #404bbf;
  }

  .modal-but:hover,  .modal-but:focus {
    color: #404bbf;
  }

.modal-header-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.modal-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link-current {
    color: #4d5ae5;
  }

.modal-link:hover, .modal-link:focus {
    color: #4d5ae5;
}

.modal-list-sm {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.modal-list-item-sm {
    width: 40px;
    height: 40px;
}

.modal-link-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .icon {
    fill: #fff;
}

.modal-link-sm:hover, .modal-link-sm:focus {
    background-color: #31d0aa;
}



.modal-link-sm:hover .icon, .modal-link-sm:focus .icon  {
    fill: #fff;
}
  
.modal-header-navigation {
    margin-bottom: auto;
}

.modal-address {
    font-style: normal;

}
/*------------------*/

/*---------HERO---------*/

.background {
    background: #2e2f42;
    padding: 72px 0;
    max-width: 320px;
    height: 432px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url(../images/Dark-bg-mb.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .box {
      background-image: url('Dark-bg-mb@2x.jpg');
    }
  }

.mainheader {
    font-weight: 700;
    /* font-size: 56px;
    line-height: 1.07; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto;
    /* margin-bottom: 48px; */
    margin-bottom: 72px;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


button:hover, button:focus {
    background-color: #404bbf;
}

.header-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0;
}

.headers {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 8px;
}

.smalltext {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;   
}

/*------------------*/

/*---------Rules---------*/

.rules {
    padding: 96px 0;
}

.rules-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.wrap-icon {
    display: none;
}

.rules-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

/*------------------*/

/*---------Portfolio---------*/

.portfolio {
    padding: 96px 0;
}

.portfolioitems {
    background-color: #ffffff;
}

.portfolio-list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.portfolio-header {
    margin-bottom: 72px;
}


.portfolio .portfolio-container .portfolio-list .headers {
    margin-bottom: 8px;
}

.portfolioitems-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.text-overlay {
    display: none;

}

/*-------------------------*/

/*---------Footer---------*/

.footer {
    background-color:#2e2f42;
    padding: 96px 0;

}
 
.footer .footer-container .footerlogo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
}

.footer .footer-container .footerlogo .logotext {
    color: #f4f4fd;
}

.footertext {
    line-height: 1.5;
    color: var(--footer-text-color);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-text-sm {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    flex-wrap: wrap;
}

.footer-list-sm {
    display: flex;
    gap: 16px;
}

.footer-list-sm .icon {
    fill: #fff;
}

.footer-list-sm .footer-link-sm:hover {
    background-color:  #31d0aa;
}

.footer-list-sm .footer-link-sm:focus {
    background-color:  #31d0aa;
}

.footer-list-item-sm {
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .icon {
    fill:  #f4f4fd;
}

/*------------------------------*/
nav ul li:first-child .but:hover,
nav ul li:first-child .but:focus {
    color: #404bbf;
}

.footer .link-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input,
textarea,
.form-button {
  font-family: inherit;
  line-height: inherit;
}


.form-container {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.form-sub {
    color: #fff;

}

.form-input {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em; 
    padding-left: 16px;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    padding-left: 16px; 
    padding-right: 17px;
    padding-top: 15px;
    padding-bottom: 17px;
    border-radius: 4px;
    background-color: transparent;
    border-color: #fff;
    color: #ffffff;
}

.form-button {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

}

.frame {
    fill: #fff;
    margin-left: 16px;
}

.form-input::placeholder {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;    
  }
/*------------Teams-------------*/

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
    text-align: center;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
    
}

.people {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.team-list-container {
    padding: 32px 0;

}

.team .team-container .header-team {
    margin-bottom: 72px;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;

}

.team-list .people .smalltext {
    text-align: center;
    margin-bottom: 8px;

}

.team-list-sm {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.team-list-item-sm {
    width: 40px;
    height: 40px;


}

.team .link-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.link-sm:hover, .link-sm:focus {
    background-color: #404bbf;
}

.icon {
    fill: #f4f4fd;
}

.link-sm:hover .icon, .link-sm:active .icon  {
    fill: #fff;
}

.team .container {
    width: 288px;
}
/*-------------------------------*/

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-top: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
    height: auto
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------Modal-----------------*/


.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility:visible;
    pointer-events: auto;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    padding: 16px;
    width: 288px;
    min-height: 623px;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

.modal-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #2e2f42;
    margin-bottom: 16px;    
    max-width: 360px;
    display: block;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

}

.modal-field-wrap {
    position: relative;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px
}

.modal-comment {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    padding-top: 8px;
    outline: transparent;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-button {
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-right: 0;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    position: absolute;
    top: 24px;
    right: 24px;
}

.button-modal-icon {
    fill: #2e2f42;
    transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.button-modal-icon:hover, .button-modal-icon:focus {
    fill: #ffffff;
}

.modal-button:hover .button-modal-icon, 
.modal-button:focus .button-modal-icon {
    fill: #ffffff; 
} 

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block; 
    margin-bottom: 4px;
    color: #8e8f99;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.check-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-check:checked + .checkbox-form-label .check-span  {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;

}

.checkbox-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-field-checkbox {
    margin-top: 16px;
    margin-bottom: 24px;

}

.label-span-checkbox {
    line-height: 16px;
    line-height: 1.33;
    text-decoration: underline;
    color: #4d5ae5;

}

@media (min-width:768px ) and (max-width:1158px ) {

    .header-list {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }

    .header-list-nav-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    }

    .footer .container {
        width: 736px;
        padding-left: 108px;
    }
}

@media screen and (min-width:768px) {
    .container {
        width: 768px;
    }

    .team .container {
        width: 736px;
    }

    .rules-list {
        gap: 24px;

    }
    
    .rules-list-item {
        flex-basis: calc((100% - 1 * 24px) / 2);
    
    }

    .rules-header {
        text-align: left;
    }

    .team-list {
        gap: 64px 24px;
    }
    
    .portfolioitems {
        width: calc((100% - 24px) / 2);}

    .portfolio-list {
        gap:72px 24px;
    }

    .footer-text-sm {
        text-align: left;
    }
    
    .footer .container {
        width: 736px;
    }

    .footer-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-list-container {
        gap: 72px 24px;
        align-items: center;
        justify-content: flex-start;

    }

    .form-container {
    }
    
    .header-list-nav {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .burger-btn {
        display: none;
      }
    
    .mobile-menu {
        display: none;
      }

    .but {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

    .but.current {
    position: relative;
}

    .but.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}

    nav .but:hover, .but:focus, .but.current {
    color: #404bbf;
}

    nav .but::after {
    background-color: #404bbf;
}

    .link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .link:hover, .link:focus {
    color: #404bbf;
}

    .contactadrs:hover, .contactadrs:focus {
    color: #404bbf;
}

    .header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

    .header-list {
    display: flex;
    gap: 12px;
    flex-direction: column;

}
    .header-list li:last-child {
    margin-right: 0;
}

    .header-navigation {
    display: flex; 
    align-items: center;
}

    .contactadrs {
        font-style: normal;
        display: block;
}

    .background {
    padding: 112px 0;
    max-width: 768px;
    height:  436px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url(../images/Dark-bg-tab.jpg);
}

    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .box {
      background-image: url('Dark-bg-tab@2x.jpg');
    }
  }

.mainheader {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
}
    .modal {
    width: 408px;
    min-height: 584px; 
    padding: 72px 24px 24px;
}

.form-input {
    width: 264px;
}

}
@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    nav .logo {
        margin-right: 76px;
    }

    .team .container {
        width: 1158px;
    }

    .rules {
        padding: 120px 0;
    }

    .rules-list-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .wrap-icon {
        display: flex;
         border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .rules-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .people {
        width: calc((100% - 3 * 24px) / 4);
    }

    .portfolio {
        padding: 120px 0 120px 0;    

    }
    
    .portfolioitems {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    .class {
        position: relative;
        overflow: hidden;
        
    } 
     
     .portfolioitems:hover {
        transform: translateY(0%);
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
    
    .text-overlay {
        position: absolute;
        top:0;
        left: 0;
        padding: 40px 32px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #4d5ae5;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
    
    }
    .portfolioitems:hover .text-overlay {
        transform: translateY(0)
    }

    .footer {
        padding: 100px 0; 
    }

    .footer-container {
    margin-right: 120px;
    }

    .wrap-footer {
        margin-right: 80px;
        display: flex;
        flex-direction: column;
    }

    .form {
        flex-wrap: nowrap;
    }
    
    .footer-container {
        min-width: 258px;
    }

    .footer .container {
        width: 1158px;
    }

    .footer-list-container {
        gap: 0;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .header-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
      }
    
      .link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
      }

      .background {
        padding: 188px 0;
        max-width: 1440px;
        height: 600px;
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ), url(../images/people-office.jpg);
    }
    
    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .box {
          background-image: url('people-office2x.jpg');
        }
      }
    
    .mainheader {
        margin-bottom: 48px;
    }
    
    .modal-input:focus {
        border-color: #4d5ae5;
    }
    
    .modal-input:focus + .modal-icon {
        fill: #4d5ae5;
    }

    .modal-comment:focus {
        border-color: #4d5ae5;
    }
    }
